@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Matter-Light, sans-serif;
    src: url(./src/fonts/Matter-Light.otf) format(opentype);
}

@font-face {
    font-family: Matter-Regular, sans-serif;
    src: url(./src/fonts/Matter-Regular.otf) format(opentype);
}

@font-face {
    font-family: Matter-SemiBold, sans-serif;
    src: url(./src/fonts/Matter-SemiBold.otf) format(opentype);
}

@font-face {
    font-family: Matter-Heavy, sans-serif;
    src: url(./src/fonts/Matter-Heavy.otf) format(opentype);
}

@font-face {
    font-family: With-You, sans-serif;
    src: url(./src/fonts/Withyou.ttf) format(opentype);
}

@font-face {
    font-family: ClashDisplay-Light, sans-serif;
    src: url(./src/fonts/ClashDisplay-Light.otf) format(opentype);
}

@font-face {
    font-family: ClashDisplay-Medium, sans-serif;
    src: url(./src/fonts/ClashDisplay-Medium.otf) format(opentype);
}

@font-face {
    font-family: ClashDisplay-Semibold, sans-serif;
    src: url(./src/fonts/ClashDisplay-Semibold.otf) format(opentype);
}